@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    box-sizing: border-box;
}

.container2{
    width: 40% ;
    text-align: center ;
    border: 1px solid #fff;
    display: block;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 10%;
    left: 30%;
    position: absolute;
}

.Heading{
    color: #195DBD;
    text-align: center;
    margin-top: 10%;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
}

.Heading2{
    color: #195DBD;
    text-align: center;
    margin-top: 2%;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
}

.form-headline{
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    margin-bottom: 20px;
    margin-left: 40%;
    background-image: repeating-linear-gradient(90deg, rgb(217, 222, 227), rgb(217, 222, 227) 6px, transparent 4px, transparent 10px);
}

.Input-Email{
    padding-bottom: 10px;
}


.Input-Password{
    padding-bottom: 10px;
}

.input-email-form:focus{
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    width: 500px;
    height: 50px;
    padding-left: 20px;
}

.input-password-form{
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    width: 500px;
    height: 50px; 
    padding-left: 20px;
}

.button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}

.signUp{
    border: 1px solid #195DBD; 
    border-radius: 30px;
    width: 245px;
    height: 50px; 
    color: rgb(25, 93, 189);
    background-color: #fff;
    padding: 9px 9px 9px 9px;
    margin-right: 5px;
    text-align: center;
}

.signIn{
    border: 2px solid #195DBD; 
    border-radius: 30px;
    width: 245px;
    height: 50px; 
    color: rgb(25, 93, 189);
    background-color: #195DBD;
    color: #fff;
    padding: 9px 9px 9px 9px;
    text-align: center;
    cursor: pointer;
}

.signIn:hover{
    background-color: #fff;
    color: #195DBD;
    transition: 0.3s ease;
}

.signUp:hover{
    background-color: #195DBD;
    color: #fff;
    transition: 0.3s ease;
}

a{
    text-decoration: none;
}

textarea:focus, input:focus{
    outline-color: #195DBD;
}